body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #222222;
}

.row {
  margin: 0;
}

/* Landingpage 1 */
/* Header */

.logo {
  width: 8rem;
}
@media all and (min-width: 768px) {
  .logo {
    width: 11rem;
  }
}

.imagen-header {
  background-image: url(../img/imagen-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  padding-left: 1.5rem;
}
@media all and (min-width: 768px) {
  .imagen-header {
    padding-left: 4rem;
  }
}

.azul {
  color: #0668F5;
}

h1 {
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
@media all and (min-width: 768px) {
  h1 {
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 3.7rem;
  }
}

.parrafo-header {
  font-size: 0.85rem;
}
@media all and (min-width: 768px) {
  .parrafo-header {
    font-size: 1.15rem;
  }
}

.fondo-azul {
  background-color: #0000FF;
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.5s ease;
}
.fondo-azul:hover {
  background-color: #002782;
  color: #0668F5;
}
@media all and (min-width: 768px) {
  .fondo-azul {
    margin-top: 5rem;
    margin-bottom: 6rem;
    font-size: 1.2rem;
  }
}

/* Section 1 */

.imagen-planifica {
  background-image: url(../img/imagen-planifica.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.borde-blanco {
  border-left: solid 5px #fff;
}

.h3-planifica {
  color: #fff;
  font-size: 1.4rem;
}
@media all and (min-width: 768px) {
  .h3-planifica {
    font-size: 1.7rem;
  }
}

.parrafo-planifica {
  color: #fff;
}
@media all and (min-width: 768px) {
  .parrafo-planifica {
    font-size: 1.1rem;
  }
}

.texto-borde {
  -webkit-text-stroke: 2px #B3CBEE;
  color: transparent;
  font-family: 'Open Sans', sans-serif; 
  font-size: 6rem;
  padding-top: 6rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Main */
.imagen-main {
  background-image: url(../img/imagen-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; 
}
.h3-main {
  font-size: 1.3rem;
  font-weight: 600;
}
@media all and (min-width: 768px) {
  .h3-main {
    font-size: 1.9rem;
  }
}

.candado-main {
  background-image: url(../img/candado-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  border-radius: 30px;
  border: solid 3px #0000FF;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.h2-main {
  font-weight: 600;
}

/* Footer */

.footer {
  background-color: #F6F6F6;
  font-size: 0.8rem;
}

/* Landingpage 2 */
/* Header */

.imagen-header-2 {
  background-image: url(../img/imagen-header-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  padding-left: 1.5rem;
}
@media all and (min-width: 768px) {
  .imagen-header-2 {
    padding-left: 4rem;
  }
}

.fondo-azul-2 {
  background-color: #0000FF;
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.5s ease;
}

@media all and (min-width: 768px) {
  .fondo-azul-2 {
    margin-top: 5rem;
    margin-bottom: 7rem;
    font-size: 1.2rem;
  }
}
.fondo-azul-2:hover {
  background-color: #002782;
  color: #0668F5;
}

/* Landingpage 3 */
/* Header */

.imagen-header-3 {
  background-image: url(../img/imagen-header-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left; 
  padding-left: 1.5rem;
}
@media all and (min-width: 768px) {
  .imagen-header-3 {
    padding-left: 2rem;
  }
}
@media all and (min-width: 992px) {
  .imagen-header-3 {
    padding-left: 4rem;
  }
}

/* Contacto */
/* Header */

.imagen-header-contacto {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media all and (min-width: 768px) {
  .imagen-header-contacto {
    padding-left: 4rem;
  }
}

.h1-header-contacto {
  font-size: 1.9rem;
}
@media all and (min-width: 768px) {
  .h1-header-contacto {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
}
@media all and (min-width: 992px) {
  .h1-header-contacto {
    font-size: 3.7rem;
    margin-bottom: 4rem;
  }
}

.fondo-verde {
  background-color: #28BD09;
  color: #fff;
  margin-top: 3rem;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.5s ease;
}

@media all and (min-width: 768px) {
  .fondo-verde {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    margin-right: 4rem;
  }
}
.fondo-verde:hover {
  background-color: #1e9207;
  color: #fff;
}

.fondo-azul-contacto {
  background-color: #0000FF;
  color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.5s ease;
}
.fondo-azul-contacto:hover {
  background-color: #002782;
  color: #0668F5;
}
@media all and (min-width: 768px) {
  .fondo-azul-contacto {
    font-size: 1.2rem;
    margin-top: 3rem;
  }
}

@media all and (min-width: 768px) {
  .parrafo-contacto {
    font-size: 1.1rem;
  }
}

@media all and (min-width: 768px) {
  .parrafo-campana{
    color: #fff;
  }
}

/* Modales */

.pasos{
  font-size: 1.2rem;
}

.disclaimer{
  font-size: 1.2rem;
  color: white;
}

.simples-pasos {
color: #0668f5 !important;
}

.btn-mastarde {
background-color: #0668f5;
color: white;
}

.btn-enviar-tarde{
  background-color: #0000ff;
  color: white;
}

.btn-enviar-tarde:hover{
  background-color: #0404a0;
  color: white;
}

.btn-mastarde:hover {
background-color: #004cb8;
color: white;
}

.btn-ahora {
background-color: #28bd09;
color: white;
}

.btn-ahora:hover {
background-color: #1f9507;
color: white;
}

.btn-banco {
width: 180px;
padding: 15px;
font-size: x-large;
}

.santander {
background-color: #d92d1f;
color: white;
}

.santander:hover {
background-color: #992318;
color: white;
}

.estado {
background-color: #f18640;
color: white;
}

.estado:hover {
background-color: #cf7030;
color: white;
}
.chile {
background-color: #235a92;
color: white;
}

.chile:hover {
background-color: #183d62;
color: white;
}

.bci {
background-color: #213953;
color: white;
}

.bci:hover {
background-color: #325a85;
color: white;
}

.falabella {
background-color: #205334;
color: white;
}

.falabella:hover {
background-color: #308150;
color: white;
}

.scotiabank {
background-color: #da332c;
color: white;
}

.scotiabank:hover {
background-color: #a32520;
color: white;
}

.ripley {
background-color: #666666;
color: white;
}

.ripley:hover {
background-color: #3f3e3e;
color: white;
}

.itau {
background-color: #2a548e;
color: white;
}

.itau:hover {
background-color: #1d3a64;
color: white;
}

.security {
background-color: #603584;
color: white;
}

.security:hover {
background-color: #3f2357;
color: white;
}

.bice {
background-color: #255992;
color: white;
}

.bice:hover {
background-color: #1c4570;
color: white;
}